// Global
$baseColor: $tundora;

// Header
$headerColor: $white;
$headerLogoColor: $carnation;

// Search
$searchInputBackground: $nero;
$searchInputColor: $white;
$searchInputBorderColor: $carnation;

// Footer
$footerBg: $tundora;
$footerColor: $carnation;

// Buttons
$buttonBackground: $carnation;
$buttonInactiveBackground: $tundora;
$buttonColor: $white;