.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
  padding: 0 0 100px;
}
