// Colors
$nero: #030200;
$tundora: #414141;
$carnation: #fa5365;
$white: #fff;

// Fonts
$primaryFontRegular: OpenSans, sans-serif;
$primaryFontLight: OpenSansLight, sans-serif;
$primaryFontBold: OpenSansBold, sans-serif;